.merchandise-home {
    margin-top: 30px;

    height: 100%;
    max-height: 100%;

}


.add-update {
    margin-top: 30px;
    height: 100%;
}
/* detail */
.left {
    /* display: inline-block; */
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 11%;
    /* text-align: right; */
}
.merchan-img {
    width: 140px;
    height: 120px;
    border: 1px solid #002140;
    margin-right: 2px;
}
.list-item{
    border-bottom: 1px solid #f0f0f0;   
    border-radius: 4px; 
    margin-bottom: 50px; 
    display: flex;
}